<ion-view view-title="Register">
  <ion-content>
    <div class="item item-text-wrap">
        <p>Obrigado por querer se registrar no EstacionaPA.</p>
        <br>
        <p>O cadastro no sistema necessita de alguns dados pessoais e geográficos para identificação e localização, esses dados são necessários para oferecer alguns serviços míninos. Caso esteja ciente pressione o botão Aceitar e prossiga com o seu cadastro.</p>
        <br>
        <p>Equipe EstacionaPA.</p>

        <a class="button button-block button-positive" href="#/app/acceptRegister">Aceitar</a>
    </div>
  </ion-content>
</ion-view>
